---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";
import SectionContato from "../components/SectionContato.astro";
import ImageButton from "../components/ImageButton.astro";
import { Image } from "astro:assets";
import { BASE_URL } from "../toldosmania_info.ts";

import toldo_sample from "../assets/produtos/toldo.png";
import cortina_rolo_sample from "../assets/produtos/cortina_rolo.png";
import vidro_sample from "../assets/produtos/vidros.png";
import tela_sample from "../assets/produtos/tela_sombreamento.png";
import cobertura_sample from "../assets/produtos/cobertura.png";
import materiais_policarbonato_sample from "../assets/materiais/policarbonato_sample1.png";
import materiais_zincado from "../assets/materiais/zincado.png";
import materiais_tela_sample from "../assets/materiais/tela_sombreamento.png";
import materiais_lona_sample from "../assets/materiais/lona_sample.png";
import materiais_aco_sample from "../assets/materiais/aço_galvanizado.png";
import hero_tela from "../assets/hero_bg/tela_sample.png";
---

<Layout title="ToldosMania">
  <main class="scroll-smooth">
    <div
      class="hero"
      style={`min-height: 80vh; background-image: url(${BASE_URL}/hero_bg/toldo_sample.webp);`}
    >
      <div class="hero-overlay bg-opacity-70 backdrop-blur-sm"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-xl">
          <h1 class="mb-5 mt-16 text-2xl font-bold lg:mt-10 lg:text-4xl">
            Especializados na fabricação e instalação de toldos e coberturas com
            design moderno.
          </h1>
          <p class="text-md mb-5 lg:text-lg">
            Compromissados em satisfazer nossos clientes e fornecedores,
            garantindo a qualidade e durabilidade de nossos produtos.
          </p>
          <a
            href="#produtos"
            class="btn btn-secondary m-3 border-b-4 border-secondary-focus text-secondary-content sm:btn-md xl:btn-lg hover:border-secondary-focus"
            >Veja Nossos Produtos</a
          >
          <a
            href="#contato"
            class="btn btn-primary m-3 border-b-4 border-primary-focus text-white sm:btn-md xl:btn-lg hover:border-primary-focus hover:bg-primary-focus"
            >Contato
            <Icon
              pack="mdi"
              name="arrow-right"
              style="width: 30px; height: 30px"
            /></a
          >
        </div>
      </div>
    </div>
    <section class="bg-base-100 p-3 py-10" id="produtos">
      <div class="flex flex-wrap justify-center">
        <a href={`${BASE_URL}/galeria/toldos`} rel="prefetch-intent">
          <ImageButton
            src={toldo_sample}
            alt="Toldos"
            width={384}
            height={256}
            classlist="w-96 h-64"
          >
            Toldos
          </ImageButton>
        </a>

        <a href={`${BASE_URL}/galeria/coberturas`} rel="prefetch-intent">
          <ImageButton
            src={cobertura_sample}
            alt="Coberturas"
            width={384}
            height={256}
            classlist="w-96 h-64"
          >
            Coberturas
          </ImageButton>
        </a>
        <a href={`${BASE_URL}/galeria/telas`} rel="prefetch-intent">
          <ImageButton
            src={tela_sample}
            alt="Telas de Sombreamento"
            width={384}
            height={256}
            classlist="w-96 h-64"
          >
            Telas de Sombreamento
          </ImageButton>
        </a>
        <a href={`${BASE_URL}/galeria/vidros`} rel="prefetch-intent">
          <ImageButton
            src={vidro_sample}
            alt="Vidros"
            width={384}
            height={256}
            classlist="w-96 h-64"
          >
            Vidros
          </ImageButton>
        </a>

        <a href={`${BASE_URL}/galeria/cortinas`} rel="prefetch-intent">
          <ImageButton
            src={cortina_rolo_sample}
            alt="Cortinas Rolô"
            width={384}
            height={256}
            classlist="w-96 h-64"
          >
            Cortinas Rolô
          </ImageButton>
        </a>
      </div>
    </section>
    <section
      class="flex flex-col flex-wrap items-center justify-center bg-base-200 p-3 py-10 text-base-content"
    >
      <h1
        class="divider break-words pb-10 text-center text-2xl text-base-content"
      >
        Nossa História
      </h1>
      <div class="flex flex-row flex-wrap justify-center">
        <Image
          src={hero_tela}
          alt="Exemplo de Tela"
          width={512}
          height={256}
          class="zoomable-item h-64 w-max rounded-2xl lg:h-96"
          format="avif"
          quality="mid"
          data-description=""
        />
        <div class="m-3 mx-6 flex flex-col text-base-content">
          <p class="max-w-md">
            Fundada em 2005, a ToldosMania é uma empresa dedicada à fabricação e
            instalação de toldos e coberturas. Ao longo dos anos, estabelecemos
            nossa presença no mercado por meio do desenvolvimento de produtos de
            design contemporâneo, priorizando a satisfação das necessidades de
            nossos clientes. Nossa reputação é construída com base em nosso
            compromisso sólido com clientes e fornecedores, refletindo a
            confiança que depositam em nossa empresa. Priorizamos a excelência
            em todas as etapas do processo de fabricação, garantindo a
            durabilidade e a plena satisfação daqueles que escolhem nossos
            produtos.
          </p>
          <a
            href="#contato"
            class="btn btn-primary m-4 mx-6 border-b-4 border-primary-focus text-primary-content sm:btn-md xl:btn-lg hover:border-primary-focus hover:bg-primary-focus"
            >Entre em Contato
          </a>
        </div>
      </div>
    </section>
    <section class="bg-base-100 p-3 py-10 text-base-content" id="materiais">
      <h1 class="text-bold divider break-all pb-2 text-2xl">
        Nossos Materiais
      </h1>
      <div class="flex flex-wrap justify-center">
        <div class="card m-5 w-96 bg-base-200 shadow-xl">
          <figure>
            <Image
              src={materiais_lona_sample}
              alt="Material de Lona"
              width={224}
              height={224}
              format="avif"
              quality="high"
              class="zoomable-item h-56 w-1/2"
            />
          </figure>

          <div class="card-body">
            <h2 class="card-title text-center">Lona</h2>
            <p>
              O produto é aditivado para resistir aos raios UV dando maior
              durabilidade, e garantindo cores vivas por mais tempo.
              Auto-extinguível: não propaga o fogo desde que eliminada sua
              fonte. Antioxidante: promove maior durabilidade e reduz o efeito
              de oxidação. Antifungo: reduz a ação dos fungos no toldo.
            </p>
          </div>
        </div>
        <div class="card m-5 w-96 bg-base-200 shadow-xl">
          <figure>
            <Image
              src={materiais_policarbonato_sample}
              alt="Material de Policarbonato"
              width={224}
              height={224}
              format="avif"
              quality="high"
              class="zoomable-item h-56"
            />
          </figure>

          <div class="card-body">
            <h2 class="card-title">Policarbonato</h2>
            <p>
              Placa de policarbonato compacta 3mm ou alveolar 6mm recebe
              proteção UV na parte superior que será exposta ao sol, garantindo
              assim maior durabilidade e evitando o ressecamento, amarelecimento
              e descoloração da chapa. Placa compacta é maciça lembra o vidro
              liso à placa alveolar lembra o vidro canelado.
            </p>
          </div>
        </div>
        <div class="card m-5 w-96 bg-base-200 text-base-content shadow-xl">
          <figure>
            <Image
              src={materiais_tela_sample}
              alt="Tela de Sombreamento"
              width={224}
              height={224}
              format="avif"
              quality="high"
              class="zoomable-item h-56"
            />
          </figure>

          <div class="card-body">
            <h2 class="card-title">Tela de Sombreamento</h2>
            <p>
              Confeccionada em polietileno de alta densidade e com aditivos
              especiais que proporcionam caracteríscas importantes. <br
              />Possuem proteção contra raios ultra violetas e redução da
              luminosidade solar. Produto passa água, não é impermeabilizado.
            </p>
          </div>
        </div>
        <div class="card m-5 w-96 bg-base-200 text-base-content shadow-xl">
          <figure>
            <Image
              src={materiais_aco_sample}
              width={224}
              height={224}
              format="avif"
              quality="high"
              alt="Aço Galvanizado"
              class="zoomable-item h-56"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Aço Galvanizado</h2>
            <p>
              Para confecção de nossas estruturas utilizamos tubos de aço
              galvanizado.
            </p>
          </div>
        </div>
        <div class="card m-5 w-96 bg-base-200 text-base-content shadow-xl">
          <figure>
            <Image
              src={materiais_zincado}
              width={224}
              height={224}
              format="avif"
              quality="high"
              alt="Telha Isotérmica"
              class="zoomable-item h-56"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Telha Isotérmica/Acustica</h2>
            <p>
              [PLACEHOLDER]
              <!--Conhecida como telha sanduiche, tem maior, confeccionada pelo
              conjunto de aço natural ou pré-pintada mais nucleo isolante na cor
              branca Tem durabilidade maior, não precisa de cuidados especiais.
              Pode ter pintura eletrostática na parte superior e inferior ou cor
              natural. -->
            </p>
          </div>
        </div>
        <div class="card m-5 w-96 bg-base-200 text-base-content shadow-xl">
          <figure>
            <Image
              src={materiais_zincado}
              width={224}
              height={224}
              format="avif"
              quality="high"
              alt="Telha Simples"
              class="zoomable-item h-56"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Telha Simples</h2>
            <p>[PLACEHOLDER]</p>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-base-100 p-3 py-10" id="contato">
      <h1 class="divider pb-4 text-center text-2xl text-base-content">
        Entre em Contato
      </h1>
      <SectionContato />
    </section>
  </main>
</Layout>