---
import Icon from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/FooterMain.astro";
import Navbar from "../components/Navbar";

const contato = {
    facebook: "https://www.facebook.com/Toldos-Mania-976788302365509/?fref=ts",
    instagram: "https://www.instagram.com/toldosmania/?ref=badge",
    phone: "tel:26856588",
    whatsapp: "https://wa.me/551196201127",
    email: "mailto:vendas@toldosmania.com.br",
    maps: "https://goo.gl/maps/su5as6pW1eMrF8JH6",
};
---

<Layout title="ToldosMania">
    <Navbar client:only />
    <main class="scroll-smooth">
        <div
            class="hero"
            style="min-height: 80vh; background-image: url(/toldosmania-web/hero_bg/toldo_sample.webp);"
        >
            <div class="hero-overlay bg-opacity-70"></div>
            <div class="hero-content text-center text-white">
                <div class="max-w-xl">
                    <h1 class="mb-5 text-4xl font-bold">
                        Somos especializados na fabricação e instalação de
                        toldos e coberturas com design moderno.
                    </h1>
                    <p class="mb-5 text-lg">
                        Compromissados em satisfazer nossos clientes e
                        fornecedores, garantindo a qualidade e durabilidade de
                        nossos produtos.
                    </p>
                    <a
                        href="#produtos"
                        class="btn btn-info xl:btn-lg m-3 sm:btn-md border-b-4 border-blue-200 bg-white hover:bg-gray-300 hover:border-gray-300 text-gray-800"
                        >Veja Nossos Produtos</a
                    >
                    <a
                        href="#contato"
                        class="btn btn-info text-white m-3 xl:btn-lg sm:btn-md border-b-4 border-blue-400 hover:bg-blue-400 hover:border-blue-400"
                        >Contato
                        <Icon
                            pack="mdi"
                            name="arrow-right"
                            style="width: 30px; height: 30px"
                        /></a
                    >
                </div>
            </div>
        </div>
        <section class="bg-gray-100 text-base-100 p-3 py-10" id="produtos">
            <h1 class="divider text-center text-2xl text-black pb-8">
                Nossos Produtos
            </h1>
            <div class="flex flex-wrap justify-center">
                <div class="flex lg:flex-row md:flex-col justify-center m-3">
                    <a
                        class="card bg-blue-400 border-b-blue-500 border-b-4 text-white shadow-xl hover:bg-blue-500 transition-colors"
                        href="/toldosmania-web/galeria/toldos"
                    >
                        <figure>
                            <img
                                src="/toldosmania-web/produtos/toldo.jpg"
                                alt="Toldos"
                                class="w-96 h-64"
                            />
                        </figure>
                        <div class="card-body text-2xl text-center py-3">
                            Toldos
                        </div>
                    </a>
                </div>
                <div class="flex lg:flex-row md:flex-col justify-center m-3">
                    <a
                        class="card bg-blue-400 border-b-blue-500 border-b-4 text-white shadow-xl hover:bg-blue-500 transition-colors"
                        href="/toldosmania-web/galeria/coberturas"
                    >
                        <figure>
                            <img
                                src="/toldosmania-web/produtos/lona.jpg"
                                alt="Cobertura de Lona"
                                class="w-96 h-64"
                            />
                        </figure>
                        <div class="card-body text-2xl text-center py-3">
                            Coberturas
                        </div>
                    </a>
                </div>
                <div class="flex lg:flex-row md:flex-col justify-center m-3">
                    <a
                        class="card bg-blue-400 border-b-blue-500 border-b-4 text-white shadow-xl hover:bg-blue-500 transition-colors"
                        href="/toldosmania-web/galeria/telas"
                    >
                        <figure>
                            <img
                                src="/toldosmania-web/produtos/tela_sombreamento.jpg"
                                alt="Telas de Sombreamento"
                                class="w-96 h-64"
                            />
                        </figure>
                        <div class="card-body text-2xl text-center py-3">
                            Telas de Sombreamento
                        </div>
                    </a>
                </div>
                <div class="flex lg:flex-row md:flex-col justify-center m-3">
                    <a
                        class="card bg-blue-400 border-b-blue-500 border-b-4 text-white shadow-xl hover:bg-blue-500 transition-colors"
                        href="/toldosmania-web/galeria/vidros"
                    >
                        <figure>
                            <img
                                src="/toldosmania-web/produtos/vidros.jpeg"
                                alt="Vidros"
                                class="w-96 h-64"
                            />
                        </figure>
                        <div class="card-body text-2xl text-center py-3">
                            Vidros
                        </div>
                    </a>
                </div>
                <div class="flex lg:flex-row md:flex-col justify-center m-3">
                    <a
                        class="card bg-blue-400 border-b-blue-500 border-b-4 text-white shadow-xl hover:bg-blue-500 transition-colors"
                        href="/toldosmania-web/galeria/cortinas"
                    >
                        <figure>
                            <img
                                src="/toldosmania-web/produtos/cortina_rolo.png"
                                alt="Cortinas Rolô"
                                class="w-96 h-64"
                            />
                        </figure>
                        <div class="card-body text-2xl text-center py-3">
                            Cortinas Rolô
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <a
                    class="btn btn-accent btn-outline btn-xl rounded-2xl"
                    href="/toldosmania-web/galeria">Veja nossos produtos</a
                >
            </div>
        </section>
        <section
            class="bg-white text-base-100 p-3 py-10 flex flex-row flex-wrap justify-center items-center"
            id="materiais"
        >
            <figure>
                <img
                    src="/toldosmania-web/hero_bg/tela_sample.jpg"
                    alt="Toldos Mania - Exemplo de Toldo"
                    class="rounded-2xl w-max lg:h-96"
                />
            </figure>
            <div class="flex flex-col m-3 mx-6">
                <h1 class="text-2xl text-center m-4">Quem somos nós?</h1>
                <p class="text-md max-w-md">
                    Fundada em 2005, a ToldosMania é uma empresa dedicada à
                    fabricação e instalação de toldos e coberturas. <br /> Ao longo
                    dos anos, consolidamos nossa presença no mercado através do desenvolvimento
                    de produtos de design moderno e arrojado, sempre buscando atender
                    às necessidades de nossos clientes. <br /> Nossa reputação é
                    construída sobre o compromisso sólido que mantemos com nossos
                    clientes e fornecedores, refletindo a confiança que depositam
                    em nós. <br />Priorizamos a qualidade em cada etapa do
                    processo de fabricação, assegurando a durabilidade e a
                    satisfação de quem escolhe os produtos ToldosMania.
                </p>
                <a
                    href="#contato"
                    class="btn btn-info text-white mx-6 m-4 xl:btn-lg sm:btn-md border-b-4 border-blue-400 hover:bg-blue-400 hover:border-blue-400"
                    >Entre em Contato Conosco
                </a>
            </div>
        </section>
        <section class="bg-gray-100 text-base-100 p-3 py-10" id="materiais">
            <h1 class="divider text-2xl text-bold pb-2">Materiais de Toldos</h1>
            <p class="text-center text-lg pb-8">
                Materiais utilizados para a fabricação de nossos produtos
            </p>
            <div class="flex flex-wrap justify-center">
                <div class="card w-96 bg-gray-200 text-black shadow-xl m-5">
                    <figure>
                        <img
                            src="/toldosmania-web/materiais/lona_sample1.png"
                            alt="Material de Lona"
                            class="h-56"
                        />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Lona</h2>
                        <p>
                            O produto é aditivado para resistir aos raios UV
                            dando maior durabilidade, e garantindo cores vivas
                            por mais tempo. Auto-extinguível: não propaga o fogo
                            desde que eliminada sua fonte. Antioxidante: promove
                            maior durabilidade e reduz o efeito de oxidação.
                            Antifungo: reduz a ação dos fungos no toldo.
                        </p>
                    </div>
                </div>
                <div class="card w-96 bg-gray-200 text-black shadow-xl m-5">
                    <figure>
                        <img
                            src="/toldosmania-web/materiais/policarbonato_sample1.png"
                            alt="Material de Lona"
                            class="h-56"
                        />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Policarbonato</h2>
                        <p>
                            Placa de policarbonato compacta 3mm ou alveolar 6mm
                            recebe proteção UV na parte superior que será
                            exposta ao sol, garantindo assim maior durabilidade
                            e evitando o ressecamento, amarelecimento e
                            descoloração da chapa. Placa compacta é maciça
                            lembra o vidro liso à placa alveolar lembra o vidro
                            canelado.
                        </p>
                    </div>
                </div>
                <div class="card w-96 bg-gray-200 text-black shadow-xl m-5">
                    <figure>
                        <img
                            src="/toldosmania-web/materiais/tela_sombreamento.jpg"
                            alt="Material de Lona"
                            class="h-56"
                        />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Tela de Sombreamento</h2>
                        <p>
                            Confeccionada em polietileno de alta densidade e com
                            aditivos especiais que proporcionam caracteríscas
                            importantes as telas com proteção contra raios ultra
                            violetas e redução da luminocidade solar. Produto
                            passa água, não é impermeabilizado.
                        </p>
                    </div>
                </div>
                <div class="card w-96 bg-gray-200 text-black shadow-xl m-5">
                    <figure>
                        <img
                            src="/toldosmania-web/materiais/aço_galvanizado.jpg"
                            alt="Material de Lona"
                            class="h-56"
                        />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Aço Galvanizado</h2>
                        <p>
                            Para confecção de nossas estruturas utilizamos tubos
                            de aço galvanizado.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-3 py-10 bg-white" id="contato">
            <h1 class="divider text-center text-2xl text-black pb-8">
                Contato
            </h1>
            <p class="text-center text-lg pb-8 text-black">
                Se interessou? Entre em contato!
            </p>
            <div class="flex flex-row flex-wrap justify-center">
                <div
                    class="flex flex-col bg-white items-left text-black border shadow-md p-5 my-3 rounded-xl"
                >
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2404.632044759774!2d-46.502187580483984!3d-23.522744026608216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce60bdddb7e8e9%3A0xf8d0ecc98ded44fd!2sR.%20Prof.%20Vasconcelos%20Sarmento%2C%20170%20-%20Vila%20R%C3%A9%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003662-040!5e0!3m2!1sen!2sbr!4v1693179314020!5m2!1sen!2sbr"
                        width="600"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div
                    class="flex flex-col bg-white text-black border shadow-md p-5 my-3 rounded-xl"
                >
                    <a
                        class="btn btn-info btn-outline text-lg w-full my-3 inline-flex justify-start"
                        href={contato.whatsapp}
                    >
                        <Icon
                            pack="mdi"
                            name="whatsapp"
                            class="w-10 h-10 text-blue-500"
                        />
                        1196201127
                    </a>
                    <a
                        class="btn btn-info btn-outline text-lg w-full my-3 inline-flex justify-start"
                        href={contato.phone}
                    >
                        <Icon
                            pack="mdi"
                            name="phone"
                            class="w-10 h-10 text-blue-500"
                        />
                        26856588
                    </a>
                    <a
                        class="btn btn-info btn-outline text-lg w-full my-3 inline-flex justify-start"
                        href={contato.email}
                    >
                        <Icon
                            pack="mdi"
                            name="mail"
                            class="w-10 h-10 text-blue-500"
                        />
                        vendas@toldosmania.com
                    </a>
                    <a
                        class="btn btn-info btn-outline text-lg w-full my-3 inline-flex justify-start"
                        href={contato.instagram}
                    >
                        <Icon
                            pack="mdi"
                            name="instagram"
                            class="w-10 h-10 text-blue-500"
                        />
                        @toldosmania
                    </a>
                    <a
                        class="btn btn-info btn-outline text-lg w-full my-3 inline-flex justify-start"
                        href={contato.facebook}
                    >
                        <Icon
                            pack="mdi"
                            name="facebook"
                            class="w-10 h-10 text-blue-500"
                        />
                        Facebook: @toldosmania
                    </a>
                </div>
                <div
                    class="flex flex-col bg-white items-left text-black border shadow-md p-5 my-3 rounded-xl"
                >
                    <img
                        src="/toldosmania-web/cartoes.png"
                        alt=""
                        class="h-72 w-72 items-center"
                    />
                    <h1 class="text-center text-2xl text-blue-700">
                        Também aceitamos Pix!
                    </h1>
                    <p>Boletos aceitos somente para empresas</p>
                </div>
            </div>
        </section>
    </main>
    <Footer />
</Layout>