---
import { Image } from "astro:assets";
import Icon from "astro-icon";

const contato = {
    facebook: "https://www.facebook.com/Toldos-Mania-976788302365509/?fref=ts",
    instagram: "https://www.instagram.com/toldosmania/?ref=badge",
    phone: "tel:26856588",
    whatsapp: "https://wa.me/551196201127",
    email: "mailto:vendas@toldosmania.com.br",
    maps: "https://goo.gl/maps/su5as6pW1eMrF8JH6",
};

const base_url = import.meta.env.BASE_URL;
---

<footer class="footer p-10 bg-blue-500 text-white">
    <div>
        <a href={base_url}>
            <Image
                src={base_url + "logo.jpg"}
                width={256}
                height={96}
                alt="Logo ToldosMania"
                class="object-scale-down h-24 w-64 rounded-xl border-4 bg-white border-white"
            />
        </a>
        <p>
            ToldosMania<br />Satisfazendo nossos clientes e fornecedores desde
            2005
        </p>
        <p>
            CopyRight © ToldosMania - 2005/2023
        </p>
    </div>
    <div>
        <span class="footer-title">Produtos</span>
        <a class="link link-hover">Toldos</a>
        <a class="link link-hover">Coberturas</a>
        <a class="link link-hover">Telas</a>
        <a class="link link-hover">Vidros</a>
        <a class="link link-hover">Cortinas Rolô</a>
    </div>
    <div>
        <span class="footer-title">Contato</span>
        <a href={contato.whatsapp} class="link link-hover inline-flex flex-row flex-wrap items-center">
            <Icon pack="mdi" name="whatsapp" class="w-8 h-8 text-white" />
            1196201127
        </a>
        <a href={contato.phone} class="link link-hover inline-flex flex-row flex-wrap items-center">
            <Icon pack="mdi" name="phone" class="w-8 h-8 text-white" />
            26856588</a>
        <a href={contato.email} class="link link-hover inline-flex flex-row flex-wrap items-center break-words">
            <Icon pack="mdi" name="email" class="w-8 h-8 text-white" />
            vendas@toldosmania.com.br</a>
        <a href={contato.maps} class="link link-hover inline-flex flex-row flex-wrap items-center break-words">
            <Icon pack="mdi" name="map" class="w-8 h-8 text-white" />
            R. Profº Vasconcelos Sarmento, 170 - Vila Ré /Penha - São Paulo</a>
    </div>
</footer>