---
import { Image } from "astro:assets";
import type { GalleryItem } from "../toldosmania_info";

interface Props {
  id: string | undefined;
  title: string | undefined;
  product_type: string;
  gallery_items: GalleryItem[];
}

const { id, title, product_type, gallery_items } = Astro.props;
---

<section class="bg-base-100 px-12 py-10 text-center text-black" id={id}>
  {!!title && <h1 class="divider text-2xl text-base-content">{title}</h1>}
  <div class="flex flex-row flex-wrap items-center justify-center">
    {
      gallery_items.map((item) => (
        <Image
          src={import(`../assets/gallery/${product_type}/${item.url}`).then(
            (obj) => obj,
          )}
          alt={item.title}
          data-description={item.description}
          decoding="async"
          loading="lazy"
          class="zoomable-item m-3 h-full w-full rounded-2xl transition-transform ease-in-out hover:scale-105 lg:h-1/6 lg:w-1/6"
        />
      ))
    }
  </div>
</section>
