---
import { Image } from "astro:assets";
interface Props {
    src: string;
    alt: string;
    width: number;
    height: number;
    classlist: string;
}

const { alt, src, width, height, classlist } = Astro.props;
---

<div class="flex lg:flex-row md:flex-col justify-center m-3">
    <div
        class="card bg-sky-400 border-b-4 border-blue-400 hover:bg-blue-400 hover:border-blue-400 uppercase text-white shadow-xl transition-colors"
    >
        <Image
            src={src}
            alt={alt}
            width={width}
            height={height}
            class={classlist}
            quality="low"
            format="webp"
        />
        <div class="card-body lg:text-xl text-center py-3 font-semibold text-md"><slot /></div>
    </div>
</div>