---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import { BASE_URL, CONTATO } from "../toldosmania_info";
---

<div class="flex flex-row flex-wrap justify-center">
  <div
    class="items-left my-3 flex flex-col rounded-xl border border-base-200 bg-base-200 p-5 text-black shadow-md"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2404.632044759774!2d-46.502187580483984!3d-23.522744026608216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce60bdddb7e8e9%3A0xf8d0ecc98ded44fd!2sR.%20Prof.%20Vasconcelos%20Sarmento%2C%20170%20-%20Vila%20R%C3%A9%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003662-040!5e0!3m2!1sen!2sbr!4v1693179314020!5m2!1sen!2sbr"
      class="h-full w-full border-none lg:h-96 lg:w-96"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div
    class="my-3 flex flex-col rounded-xl border-base-200 bg-base-200 p-5 shadow-md"
  >
    <a
      class="btn btn-primary btn-outline btn-block my-3 inline-flex justify-start break-words text-lg"
      href={CONTATO.whatsapp}
    >
      <Icon pack="mdi" name="whatsapp" class="h-10 w-10 text-primary" />
       11964201127
    </a>
    <a
      class="btn btn-primary btn-outline btn-block my-3 inline-flex justify-start break-words text-lg"
      href={CONTATO.phone}
    >
      <Icon pack="mdi" name="phone" class="h-10 w-10 text-primary" />
       26856588
    </a>
    <a
      class="btn btn-primary btn-outline btn-block my-3 inline-flex justify-start break-words text-xs lg:text-lg"
      href={CONTATO.email}
    >
      <Icon pack="mdi" name="mail" class="h-10 w-10 text-primary" />
       vendas@toldosmania.com.br
    </a>
    <a
      class="btn btn-primary btn-outline btn-block my-3 inline-flex justify-start break-words text-lg"
      href={CONTATO.instagram}
    >
      <Icon pack="mdi" name="instagram" class="h-10 w-10 text-primary" />
       @toldosmania
    </a>
    <a
      class="btn btn-primary btn-outline btn-block my-3 inline-flex justify-start break-words text-lg"
      href={CONTATO.facebook}
    >
      <Icon pack="mdi" name="facebook" class="h-10 w-10 text-primary" />
       @toldosmania
    </a>
  </div>
  <div
    class="items-left my-3 flex flex-col rounded-xl border border-base-200 bg-base-200 p-5 text-primary-content shadow-md"
  >
    <h1 class="text-center text-2xl text-base-content">
      Aceitamos seu cartão.<br />
       Entre em contato!
    </h1>
    <Image
      src={`${BASE_URL}/cartoes.png`}
      alt="Cartões aceitos pela empresa: Hipercard, Diners Club, Visa, e Mastercard."
      width={288}
      height={288}
      class="zoomable-item h-72 w-72 items-center"
    />
    <h1 class="text-center text-2xl text-base-content">Também aceitamos Pix</h1>
  </div>
</div>