---
import FooterMain from "../components/FooterMain.astro";
import Navbar from "../components/Navbar";

interface Props {
    title: string;
    description: string;
    sections: string[] | null;
}

const { title, description, sections } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Navbar client:only />
        <div
            class="hero"
            style="min-height: 40vh; background-image: url(/toldosmania-web/hero_bg/tela_sample.jpg);"
        >
            <div class="hero-overlay bg-opacity-70 bg-base-100"></div>
            <div class="hero-content">
                <div class="max-w-xl text-white">
                    <h1 class="text-2xl font-bold">{title}</h1>
                    <h3 class="text-lg font-semibold">
                        {description}
                    </h3>
                {sections?.map(sect => <a href={"#" + sect} class="btn btn-info rounded-2xl text-white my-3 mx-1 py-3">{sect}</a>)}
                </div>
            </div>
        </div>
        <slot />
        <FooterMain />
    </body>
</html>

<style>
    html {
        scroll-behavior: smooth;
    }
</style>