---
import SectionContato from "../components/SectionContato.astro";
import { BASE_URL } from "../toldosmania_info";
import StandardLayout from "./StandardLayout.astro";

interface Props {
  title: string;
  description: string;
  sections: string[] | null;
}

const { title, description, sections } = Astro.props;
---

<StandardLayout title={title}>
  <main class="min-h-screen bg-base-100">
    <div
      class="hero min-h-screen"
      style={`min-height: 30vh; background-image: url(${BASE_URL}/hero_bg/tela_sample.png);`}
    >
      <div class="hero-overlay bg-base-100 bg-opacity-70"></div>
      <div class="hero-content">
        <div class="max-w-xl text-base-content">
          <h1 class="mt-16 text-xl font-bold lg:mt-10 lg:text-2xl">
            {title}
          </h1>
          <h3 class="text-sm font-semibold lg:text-lg">
            {description}
          </h3>
          {
            sections?.map((sect) => (
              <a
                href={"#" + sect}
                class="btn btn-accent mx-1 my-3 py-3 text-accent-content"
              >
                {sect}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <slot />
    <section class="bg-base-200 p-3 py-10" id="contato">
      <h1 class="divider pb-2 text-center text-2xl text-black">Contato</h1>
      <p class="pb-8 text-center text-lg text-black">
        Se interessou? Entre em contato!
      </p>
      <SectionContato />
    </section>
  </main>
</StandardLayout>
